<div class="col-sm-6">
	<h2>Hello <%= @order.name %>!</h2>
	<h4>Thank you for your order page</h4>
	<div class="card comments">
	        <div class="card-block">
	            <div class="card-title">
	                <h3>Imformation</h3>
	            </div>
	            <div class="card-text"><b>Phone number: </b><%= @order.phone_number %></div>
	            <div class="card-text"><b>Address: </b><%= @order.address %></div>
	            <div class="card-text"><b>Quantity: </b><%= @order.quantity %></div>
	            
	        </div>
	    </div>
	</div>
<div class="col-sm-6">
	<h2>Order</h2>
	<h4>Name: Pho bo</h4>
	<div class="card comments">
	        <div class="card-block">
	            <div class="card-title">
	                <h3>Detail</h3>
	            </div>
	            <div class="card-text"><b>Time: </b><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
	            <div class="card-text"><b>Quantity: </b><%= @order.quantity %></div>
	            <div class="card-text"><b>Price: </b><%= @order.quantity %></div>
	            
	        </div>
	    </div>
	</div>