
<!DOCTYPE html>
<html>
<head>
  <title>Blog Vuong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-dark bg-primary">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#">Blog</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Home', articles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/lamvuvuong/rubyonrails-blog/blob/master/about.txt">About</a>
      </li>
      <%= form_tag(articles_path, :method => "get", class: "form-inline pull-xs-right", id: "search-form") do %>
        <li class="nav-item">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Articles" %>
          <button class="btn btn-success" type="submit">Search</button>
        </li>

      <% end %>

    </ul>
  </div>
</nav>


<%= yield %>

</body>
</html>
